<div class="client-list-wrapper">
  <app-spinner *ngIf="spinner"></app-spinner>

  <div class="client-register-content">
    <form [formGroup]="clientForm">

      <mat-form-field appearance="fill" [hideRequiredMarker]="false">
        <mat-label> Id </mat-label>
        <input matInput formControlName="id" type="number" readonly>
      </mat-form-field>

      <mat-form-field appearance="fill" [hideRequiredMarker]="false">
        <mat-label> Nome </mat-label>
        <input matInput formControlName="name" placeholder="Name">
      </mat-form-field>

      <mat-form-field appearance="fill" [hideRequiredMarker]="false">
        <mat-label> Idade </mat-label>
        <input matInput formControlName="age" placeholder="Age" ng-pattern="onlyNumbers">
        <mat-error *ngIf="clientForm.controls.age.touched && clientForm.controls.age.invalid">
          <span *ngIf="clientForm.controls.age.hasError('required')"> Idade é obrigatória </span>
          <span *ngIf="clientForm.controls.age.hasError('pattern')"> Idade deve ter entre 1 e 3 digitos </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" [hideRequiredMarker]="false">
        <mat-label> Cidade </mat-label>
        <input matInput formControlName="city"  placeholder="City">
      </mat-form-field>

      <div>
        <button mat-flat-button color="warn" (click)="cancel()"> Cancelar </button>
        <button mat-flat-button color="primary" (click)="save()" [disabled]="!clientForm.valid"> Salvar </button>
      </div>

    </form>
  </div>
</div>
